<menu>
  <Services>
    <PowerDNS VisibleName="PowerDNS Authoritative" cssClass="fa fa-database" url="/ui/powerdns/general/index">
      <General VisibleName="Settings" url="/ui/powerdns/general/index"/>
      <Zones VisibleName="Zones" url="/ui/powerdns/zones/index"/>
      <Text VisibleName="Text edit" url="/ui/powerdns/text/index"/>
    </PowerDNS>
  </Services>
</menu>
